.splitLayout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left-link right-link';
}

.link {

    height: 100%;
    width: 100%;
    border: none;
    text-decoration: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.link:hover {
    background-color: transparent;
}

.leftLink {
    background-color: lightgrey;
    grid-area: left-link;
}

.rightLink {
    background-color: black;
    grid-area: right-link;
}

.description {
    width: 50%;
    height: 25%;
    background: green;
}