.SplitSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}

.SplitSlider-Link {
    display: inline-block;
    height: 100%;
    width: 50%;
    border: none;
    text-align: center;
    background-color: transparent;
    color: white;
}

.SplitSlider-Link:hover {
    background-color: green;
}