.page-leave-left {
    -webkit-animation: slide-left 1s normal linear;
    -o-animation: slide-left 1s normal linear;
    animation: slide-left 1s normal linear;
}

.page-leave-right {
    -webkit-animation: slide-right 1s normal linear;
    -o-animation: slide-right 1s normal linear;
    animation: slide-right 1s normal linear;
}

.page-enter-left {
    -webkit-animation: slide-left 1s reverse linear;
    -o-animation: slide-left 1s reverse linear;
    animation: slide-left 1s reverse linear;
}

.page-enter-right {
    -webkit-animation: slide-right 1s reverse linear;
    -o-animation: slide-right 1s reverse linear;
    animation: slide-right 1s reverse linear;
}

/* Slide out element to the left */
@keyframes slide-left {
    
    from {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    
    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    
}

/* Slide out elements to the right */
@keyframes slide-right {
    
    from {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    
    to {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}