.funSiteLayout {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 300px;

    background: orange;

}

.leftNav {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    background: pink;
}

.funContent {
    grid-column-start: 2;
    grid-row-start: 1;
    background: yellow;
}